body {
    font-family: 'Sono', sans-serif;
  }

  .pricing-container{
    display: flex;
    justify-content: center ;
    height: 100vh;
    align-items: center;
    gap:20px;
    }

 


 .pricing-plan{
  flex:1;
  max-width: 400px;
  padding: 20px;
  text-align: center;
  background-color:rgba(29, 160, 160, 0.584);
  border-radius: 5px;

 }
 .pricing-plan:hover{
      background-color: rgba(66, 222, 167, 0.767) ;
  }

  .plan-features{
    list-style: none;
    padding: 0;
    margin-bottom: 10px;

    
  }

  .plan-features li{
          margin-bottom: 10px;

  }


  .plan-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    border: solid 2px ;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;

      }  

    .plan-title:hover{
      font-size: 30px;
    }

  .plan-price{
    font-size: 40px;
    font-weight: bold;

  }

  .plan-button{
    margin-top: 20px;
    background-color:burlywood;
    border: solid 2px  ;
    font-family: sono;
    border-radius: 5px;
  }

  .plan-button:hover{
    background-color: gold;
    font-size: larger;
  }
  /* Hint: What can you do with a media query and flexbox? */
  @media (max-width: 1250px) {
    .pricing-container{
            flex-direction: column;
            height: 100%;

    }
    
  }
